In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model

In [3]:
df =pd.read_csv('Documents//datasets//mini_house_csv.csv')

In [6]:
df.head()

   Area   Price  Age  Bedrooms
0  2600  550000   15       5.0
1  3000  565000   20       4.0
2  3200  610000   18       NaN
3  3600  680000   30       3.0
4  4000  725000    8       NaN

In [5]:
print(df)

   Area   Price  Age  Bedrooms
0  2600  550000   15       5.0
1  3000  565000   20       4.0
2  3200  610000   18       NaN
3  3600  680000   30       3.0
4  4000  725000    8       NaN

# median value

In [7]:
df.mean()

Area          3280.0
Price       626000.0
Age             18.2
Bedrooms         4.0
dtype: float64

In [8]:
df.Bedrooms.mean()

4.0

In [10]:
import math
mean_broom =math.floor(df.Bedrooms.mean())

In [11]:
mean_broom

4

# filling in the empty value

In [13]:
mean_value = df.Bedrooms.fillna(mean_broom)
mean_value

0    5.0
1    4.0
2    4.0
3    3.0
4    4.0
Name: Bedrooms, dtype: float64

In [14]:
df.Bedrooms = mean_value

In [15]:
df

   Area   Price  Age  Bedrooms
0  2600  550000   15       5.0
1  3000  565000   20       4.0
2  3200  610000   18       4.0
3  3600  680000   30       3.0
4  4000  725000    8       4.0

# creating linear model

In [16]:
lm = linear_model.LinearRegression()

In [17]:
lm.fit(df[['Area','Price' ,'Age','Bedrooms']],df.Price)

LinearRegression()

# coefficient of the data

In [18]:
lm.coef_

array([-7.61206554e-15,  1.00000000e+00, -2.47178012e-14, -5.71672867e-14])

In [19]:
lm.intercept_

-4.656612873077393e-10

In [21]:
x=df['Age'].values
y=df['Price'].values

# reshapping the data

In [22]:
age =x.reshape(5,1)
price =y.reshape(5,1)

# fitting the model

In [23]:
lm.fit(age,price)

LinearRegression()

# predicting prices

In [26]:
newPrice =lm.predict(age)

In [29]:
newPrice

array([[628940.80996885],
       [624345.79439252],
       [626183.80062305],
       [615155.76323988],
       [635373.8317757 ]])

In [30]:
df['Amount Predict']=newPrice

In [31]:
df

   Area   Price  Age  Bedrooms  Amount Predict
0  2600  550000   15       5.0   628940.809969
1  3000  565000   20       4.0   624345.794393
2  3200  610000   18       4.0   626183.800623
3  3600  680000   30       3.0   615155.763240
4  4000  725000    8       4.0   635373.831776

In [34]:
pwd

'/Users/apple'